<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <form action="/" method="post">
            Name
            First Name
        <input type="text" name="fName" id="">
        Last Name
        <input type="text" name="lName" id="">
           Age
        <input type="number" name="age" id="">
        Address
        <input type="text" name="street" id="" placeholder="street">
        <input type="text" name="city" id="" placeholder="city">
        <input type="number" name="pincode" id=""  placeholder="pincode">
        <button type="submit">Add to DB</button>
    </form>
    </body>
</html>